@model List<Item>
<div class="container">
    <table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Price</th>
            <th>Serial number</th>
            <th>Category</th>
        <th>Actions</th>
    </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nom</td>
                <td>@item.Price</td>
                <td>@item.SerialNumber?.Name</td>
                <td>@item.Category?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-secondary">Update</a>
                    <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>